@model ProInterface.Models.TFlow
@{
    ViewBag.Title = "LookFlow";
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Scripts/jqueryui/jquery-ui.min.css">
    <link rel="stylesheet" href="~/Scripts/jsplumbtoolkit/demo.css">
    <script type="text/javascript" src="~/Scripts/jquery-1.8.1.min.js"></script>
    <script type='text/javascript' src="~/Scripts/jqueryui/jquery-ui-1.9.2.min.js"></script>
    <script type='text/javascript' src="~/Scripts/jqueryui/jquery.ui.touch-punch-0.2.2.min.js"></script>
    <script type='text/javascript' src='~/Scripts/jsplumbtoolkit/jquery.jsPlumb-1.7.2-min.js'></script>

    <link href="~/Scripts/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/bootstrap/mybootcss.css" rel="stylesheet" />

    <style type="text/css">
        body {

        }
    </style>
</head>
<style type="text/css">
    .wused {
        padding: 16px;
        position: absolute;
        border: 1px solid black;
        z-index: 4;
        border-radius: 1em;
        border: 1px solid #2e6f9a;
        box-shadow: 2px 2px 19px #e0e0e0;
        -o-box-shadow: 2px 2px 19px #e0e0e0;
        -webkit-box-shadow: 2px 2px 19px #e0e0e0;
        -moz-box-shadow: 2px 2px 19px #e0e0e0;
        -moz-border-radius: 8px;
        border-radius: 8px;
        opacity: 0.8;
        filter: alpha(opacity=80);
        cursor: move;
        background-color: #808080;
        font-size: 11px;
        -webkit-transition: background-color 0.25s ease-in;
        -moz-transition: background-color 0.25s ease-in;
        transition: background-color 0.25s ease-in;
    }

        .wused:hover {
            background-color: #808080;
            color: white;
        }

    .wnow {
        padding: 16px;
        position: absolute;
        border: 1px solid black;
        z-index: 4;
        border-radius: 1em;
        border: 1px solid #2e6f9a;
        box-shadow: 2px 2px 19px #e0e0e0;
        -o-box-shadow: 2px 2px 19px #e0e0e0;
        -webkit-box-shadow: 2px 2px 19px #e0e0e0;
        -moz-box-shadow: 2px 2px 19px #e0e0e0;
        -moz-border-radius: 8px;
        border-radius: 8px;
        opacity: 0.8;
        filter: alpha(opacity=80);
        cursor: move;
        background-color: green;
        color: white;
        font-size: 11px;
        -webkit-transition: background-color 0.25s ease-in;
        -moz-transition: background-color 0.25s ease-in;
        transition: background-color 0.25s ease-in;
    }

        .wnow:hover {
            background-color: green;
            color: white;
        }
</style>
<body>

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(m => m.ID)
        @Html.HiddenFor(m => m.X_Y)
        @Html.HiddenFor(m => m.FlowListStr)
        @Html.HiddenFor(m => m.REGION)
        <div id="statemachine-demo" style="width: 98%; height: 400px; border: 1px solid #000000; position: absolute; left: 10px; top: 10px; background-repeat: repeat">
        </div>
        <div id="useFlow" style="width: 98%; height: 400px; border: 1px solid #000000; position: absolute; left: 10px; top: 415px; background-repeat: repeat">
        </div>
    }
    <div style="display: none">
        @foreach (var tmp in ViewData["FlownodeAll"] as IList<SelectListItem>)
        {
            <a nodeID="@tmp.Value" id="menu_@tmp.Value" class="easyui-linkbutton MenuBtn" style="font-weight: bold">@tmp.Text</a>
        }
    </div>
    <div id="dialog_FullWin" title="查看" class="easyui-dialog" style="height: 600px; width: 800px" data-options="closed: true,iconCls:'icon-properties',maximizable:true">
        <iframe scrolling="auto" id='openWindowIframe' frameborder="0" style="width: 99%; height: 99%;"></iframe>
    </div>

    <link rel="stylesheet" href="~/Scripts/jsplumbtoolkit/demo.css">

    <script type="text/javascript" src="~/Scripts_Page/LookFlow.js"></script>
    <script>
        var useNode=@MvcHtmlString.Create(ViewData["UseNode"].ToString())
    </script>
</body>
<script type="text/javascript" src="~/Scripts_Page/FunBase.js"></script>


</html>
