@model ProInterface.Models.TScript
@{
    ViewBag.Title = "编辑任务";
}

<div id="myPnl" style="display: none"></div>
@using (Ajax.BeginForm(new AjaxOptions
{
    UpdateTargetId = "myPnl",
    Confirm = "确定要提交吗",
    OnBegin = "OnBegin",
    OnSuccess = "OnSuccess",
    OnFailure = "OnFailure",
    OnComplete = "OnComplete"
}))
{
    @Html.HiddenFor(m => m.ID)
    <table style="table-layout: fixed; width: 100%">
        <tr>
            <td>
                <div class="input-group" style="width: 100%;">
                    <span class="input-group-addon" data-size="4">@Html.LabelFor(m => m.CODE)</span>
                    @Html.TextBoxFor(m => m.CODE, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.CODE)
                </div>
            </td>
            <td>
                <div class="input-group" style="width: 100%;">
                    <span class="input-group-addon" data-size="4">@Html.LabelFor(m => m.NAME)</span>
                    @Html.TextBoxFor(m => m.NAME, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.NAME)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="input-group" style="width: 100%;">
                    <span class="input-group-addon" data-size="4">@Html.LabelFor(m => m.RUN_WHEN)</span>
                    <div class="form-control">
                        @Html.TextBoxFor(m => m.RUN_WHEN)
                        @Html.ValidationMessageFor(m => m.RUN_WHEN)

                        @Html.DropDownList("DrListRunWhen", new[]{
                       new SelectListItem(){ Text="常用执行时间表达式", Value="", Selected=true},
                       new SelectListItem(){ Text="每5秒执行一次", Value="0/5 * * * * ?"},
                       new SelectListItem(){ Text="每10秒执行一次", Value="0/10 * * * * ?"},
                       new SelectListItem(){ Text="每天下午三点执行", Value="0 0 15 * * ?"},
                       new SelectListItem(){ Text="每周一下午三点执行", Value="0 0 15 ? * MON"},
                       new SelectListItem(){ Text="每月30号31号下午3点执行一次", Value="0 0 15 30,31 1-12 ?"},
                       new SelectListItem(){ Text="在半点每15秒执行一次", Value="0/15 0/30 * * * ?"}

                   }, new { onchange = "$('#RUN_WHEN').val($(this).val())", style = "width:150px;" })
                    </div>
                </div>
            </td>
            <td>
                <div class="input-group" style="width: 100%;">
                    <span class="input-group-addon" data-size="4">@Html.LabelFor(m => m.SERVICE_FLAG)</span>
                    @Html.DropDownListFor(m => m.SERVICE_FLAG,ViewData["db"] as IList<SelectListItem>, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.SERVICE_FLAG)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="input-group" style="width: 100%;">
                    <span class="input-group-addon" data-size="4">@Html.LabelFor(m => m.STATUS)</span>
                    @Html.MyDropDownListFor(m => m.STATUS, new[]{
                       new SelectListItem(){ Text="正常", Value="正常", Selected=true},
                       new SelectListItem(){ Text="禁用", Value="禁用"}

                   }, new {@class="form-control"})
                    @Html.ValidationMessageFor(m => m.STATUS)
                </div>
            </td>
            <td>
                <div class="input-group" style="width: 100%;">
                    <span class="input-group-addon" data-size="4" for="RUN_DATA">@Html.LabelFor(m => m.RUN_DATA)</span>
                    @Html.TextBoxFor(m => m.RUN_DATA, new {@class="form-control" })
                    @Html.ValidationMessageFor(m => m.SERVICE_FLAG)
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="input-group" style="width: 100%;">
                    <span class="input-group-addon" data-size="4">@Html.LabelFor(m => m.BODY_TEXT)
                        <span for="BODY_TEXT" class="easyui-linkbutton" data-options="iconCls:'icon-help',size:'small',plain:true"></span>
                    </span>
                    @Html.TextAreaFor(m => m.BODY_TEXT, new { @class = "form-control", @style = "height:300px" })
                    @Html.HiddenFor(m => m.BODY_HASH)
                    @Html.ValidationMessageFor(m => m.BODY_TEXT)
                </div>
            </td>
        </tr>
    </table>
    <div style="text-align: center; padding: 10px; display: none;">
        <a class="easyui-linkbutton" data-options="iconCls:'icon-save'" onclick="onSubmit()">保存</a>
        <a class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" onclick="parent.CloseWin();">取消</a>
        <input style="width: 60px; display: none; margin-right: 20px;" type="submit" value="保存" />
    </div> 
}
<script type="text/javascript" src="~/Scripts_Page/FunBase.js"></script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
