
@model ProInterface.Models.YL_USER_WALLET
@{
    ViewBag.Title = "编辑用户钱包";
}

<style>
    .col-md-6, .col-md-12 {
        padding: 1px;
        float: left;
    }
    .form-control[readonly] {
        cursor: not-allowed;
        background-color: #fff;
    }
</style>
<link href="~/Scripts/datetimepicker/jquery.datetimepicker.css" rel="stylesheet" />
<script type="text/javascript" src="~/Scripts/datetimepicker/jquery.datetimepicker.js"></script>

<div id="myPnl" style="display:none"></div>
@using (Ajax.BeginForm(new AjaxOptions
{
    UpdateTargetId = "myPnl",
    Confirm = "确定要提交吗",
    OnBegin = "OnBegin",
    OnSuccess = "OnSuccess",
    OnFailure = "OnFailure",
    OnComplete = "OnComplete"
}))
{
    @Html.HiddenFor(m=>m.ID)
        <table style="table-layout:fixed;width:100%">
            <tr>
                <td>

                <div class="col-md-6">
                    
                    <div class="input-group" style="width: 100%;">
                        <span class="input-group-addon" data-size="4">@Html.LabelFor(m => m.WALLET)</span>
                        <div class = "form-control">
                            @Html.TextBoxFor(m => m.WALLET, new { @class = "easyui-numberbox",precision="2" })
                            @Html.ValidationMessageFor(m => m.WALLET)
                        </div>
                    </div>

                </div>

                </td>
            </tr>
        </table>
        <div style="text-align:center;padding:10px;display:none;">
            <a class="easyui-linkbutton" data-options="iconCls:'icon-save'" onclick="onSubmit()">保存</a>              
            <a class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" onclick="parent.CloseWin();">取消</a>              
            <input style="width: 60px; display:none; margin-right: 20px;" type="submit" value="保存" />
        </div> 
}
<script type="text/javascript" src="~/Scripts_Page/FunBase.js"></script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function () {
            $('.form_datetime').datetimepicker({
                timepicker: false,
                step: 5,
                format: 'Y/m/d'
            });
        })
    </script>
}
